<% content_for(:title, 'User Profile') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-dark text-light">
        <div class="row">
          <div class="col-auto mr-auto pt-1">
            Profile
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            <h5>Two-Factor Authentication</h5>
            <p class="small">Increase your account's security by enabling Two-Factor Authentication (2FA)</p>
          </div>
          <div class="col-lg-8">
            <p class="small">Status: <%= @user.two_factor_enabled? ? 'Enabled' : 'Disabled' %></p>
            <%= link_to 'Manage two-factor authentication', profile_two_factor_auth_path, class: 'btn btn-primary' %>
            <%= link_to 'Disable', profile_two_factor_auth_path, method: :delete, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
