<% content_for(:title, 'Positions') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card border-0">
      <div class="card-header bg-dark text-light">
        <div class="row">
          <div class="col-auto mr-auto pt-1">
            Controller Roster
          </div>
        </div>
      </div>

      <div class="card-body pb-0 pl-0 pr-0 pt-0">
        <%= render 'table', controllers: @controllers %>
      </div>

    </div>
  </div>
</div>

<div class="top-buffer"></div>

<div class="row">
  <div class="col-lg-12">
    <div class="card border-0">
      <div class="card-header bg-dark text-light">
        <div class="row">
          <div class="col-auto mr-auto pt-1">
            Visiting Controller Roster
          </div>
        </div>
      </div>

      <div class="card-body pb-0 pl-0 pr-0 pt-0">
        <%= render 'table', controllers: @visiting_controllers %>
      </div>

    </div>
  </div>
</div>
