<div class="card border-0">
  <div class="card-header bg-dark text-light">
    Airport METAR
  </div>
  <div class="card-body pb-0 pl-0 pr-0 pt-0">
    <table class="table table-bordered mb-0">
      <tr class="bg-light pl-0 pr-0">
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">ICAO</small>
        </th>
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">Rules</small>
        </th>
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">Wind</small>
        </th>
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">Baro</small>
        </th>
      </tr>
    </table>
  </div>
</div>