<div class="card border-0">
  <div class="card-header bg-dark text-light">
    Airport Conditions
  </div>
  <div class="card-body pb-0 pl-0 pr-0 pt-0">
    <table class="table table-bordered mb-0">
      <tr class="bg-light pl-0 pr-0">
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">ICAO</small>
        </th>
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">Rules</small>
        </th>
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">Wind</small>
        </th>
        <th class="pt-1 pb-1 text-center">
          <small class="font-weight-bold">Baro</small>
        </th>
      </tr>

      <%# @metar.keys.sort.each do |station| %>
      <!--<tr class="pl-0 pr-0">-->
        <!--<td class="pt-1 pb-1 text-center" data-toggle="tooltip" data-placement="bottom" title="<%#= @metar[station][:raw] %>">-->
          <!--<small><%#= station %></small>-->
        <!--</td>-->
        <!--<%# case @metar[station][:rules] %>-->
        <!--<%# when 'VFR' %>-->
          <!--<td class="pt-1 pb-1 text-center bg-success text-white">-->
            <!--<small>VFR</small>-->
          <!--</td>-->
        <!--<%# when 'MVFR' %>-->
          <!--<td class="pt-1 pb-1 text-center bg-warning text-white">-->
            <!--<small>MVFR</small>-->
          <!--</td>-->
        <!--<%# when 'IFR' %>-->
          <!--<td class="pt-1 pb-1 text-center bg-danger text-white">-->
            <!--<small>IFR</small>-->
          <!--</td>-->
        <!--<%# end %>-->

        <!--<th class="pt-1 pb-1 pl-0 pr-0 text-center">-->
          <!--<small>-->
            <!--<%#= @metar[station][:wind] %>-->
          <!--</small>-->
        <!--</th>-->
        <!--<th class="pt-1 pb-1 text-center">-->
          <!--<small>-->
            <!--<%#= @metar[station][:baro] %>-->
          <!--</small>-->
        <!--</th>-->
      <!--</tr>-->
      <%# end %>
    </table>
  </div>
</div>