<!-- Controllers Online -->
<%= render 'shared/controllers_online' %>
<!-- End Controllers Online -->

<div class="row top-buffer"></div>

<!-- Airport METAR -->
<%= render 'shared/metar' %>
<!-- End Airport METAR -->
