
  <div class="card">
    <div class="card-header bg-dark text-light">
      Controllers Online
    </div>
    <div class="card-body">
      <i>No controllers online</i>
    </div>
  </div>

  <div class="row top-buffer"></div>

  <div class="card">
    <div class="card-header bg-dark text-light">
      Airport Weather
    </div>
    <div class="card-body pl-0 pt-0">
      <table class="table table-bordered">
        <tr>
          <th>ICAO</th>
          <th>Rules</th>
          <th>Wind</th>
          <th>Baro</th>
        </tr>
      </table>
    </div>
  </div>
