<% content_for(:title, 'Home') %>

<% unless @events.empty? %>
<!-- Events Carousel -->
<div class="row">
  <div class="col-lg-12">
    <div id="carouselEvents" class="carousel slide d-none d-sm-block" data-ride="carousel">
      <div class="carousel-inner">
        <% @events.each_with_index do |event, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <img class="d-block w-100" src="http://placehold.it/800x200" alt="<%= event.name %>">
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row top-buffer"></div>
<!-- Events Carousel -->
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="card card-body bg-light">
      <h3> Welcome to ARTCC!</h3>
      <p class="top-buffer">
        Some random text here about your ARTCC and the local area. Which airports are
        fun to fly to and perhaps which are the busiest.
      </p>
    </div>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-lg-12">
    <div class="card border-0">
      <div class="card-header bg-dark text-light">
        Latest News
      </div>
      <div class="card-body pb-0 pl-0 pr-0 pt-0">
        <table class="table table-sm table-bordered table-responsive mb-0">
          <% @news.each do |article| %>
          <tr>
            <td class="pl-3 pr-3">
              <%= link_to article.title, article.link %>
              <span class="float-right"><%= article.pubDate.strftime('%b %e, %Y') %></span>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row top-buffer"></div>
