<div id="js-register-u2f"></div>

<script id="js-register-u2f-not-supported" type="text/template">
  <p class="small">Your browser doesn't support U2F. Please use Google Chrome desktop (version 41 or newer).</p>
</script>

<script id="js-register-u2f-setup" type="text/template">
  <% if current_user.two_factor_otp_enabled? %>
      <div class="row append-bottom-10">
        <div class="col-md-4">
          <button class="btn btn-info btn-sm" id="js-setup-u2f-device">Setup new U2F device</button>
        </div>
        <div class="col-md-8">
          <p class="small">
            <% if current_user.u2f_registrations.empty? -%>
              Your U2F device needs to be set up. Plug it in (if not already) and click the button on the left.
            <% else -%>
              Manage your U2F devices below. To configure another device, plug it in (if not already) and click
              the button on the left.
            <% end -%>
          </p>
        </div>
      </div>
  <% else %>
      <div class="row append-bottom-10">
        <div class="col-md-4">
          <button class="btn btn-info btn-sm" disabled="true" id="">Setup new U2F device</button>
        </div>
        <div class="col-md-8">
          <p class="text-warning small">You need to register a two-factor authentication app before you can set up a U2F device.</p>
        </div>
      </div>
  <% end %>
</script>

<script id="js-register-u2f-in-progress" type="text/template">
  <p class="small">
    Trying to communicate with your device. Plug it in (if you haven't already) and press the button on the device now.
  </p>
</script>

<script id="js-register-u2f-error" type="text/template">
  <div class="row append-bottom-10">
    <div class="col-md-4">
      <button class="btn btn-warning btn-sm" id="js-u2f-try-again">Try again?</button>
    </div>
    <div class="col-md-8">
      <p class="small">
        <span class='text-danger' id="js-u2f-error-message"></span>
      </p>
    </div>
  </div>
</script>

<script id="js-register-u2f-registered" type="text/template">
  <div class="row append-bottom-10">
    <div class="col-md-12">
      <p class="small">Your device was successfully set up! Please give it a name.</p>
      <%= form_tag(profile_two_factor_auth_u2f_index_path, method: :post) do %>
          <div class="row append-bottom-10">
            <div class="col-md-3">
              <%= text_field_tag 'u2f_registration[name]', nil, class: 'form-control form-control-sm', size: 30, placeholder: 'Pick a name' %>
            </div>
            <div class="col-md-3">
              <%= hidden_field_tag 'u2f_registration[device_response]', nil, class: 'form-control', required: true, id: 'js-device-response' %>
              <%= submit_tag 'Register U2F device', class: 'btn btn-sm btn-success' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</script>